<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false">


	<!-- ============================== -->
	<!-- Append messages to the console -->
	<!-- Set Threshold to INFO/DEBUG -->
	<!-- ============================== -->

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
		<param name="Target" value="System.out" />
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<!-- The default pattern: Date Priority [Category] Message\n -->
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %5p %t %X{hive} %c{1}:%L - %m%n" />
		</layout>
	</appender>
	
	<appender name="rollingFileBySize" class="org.apache.log4j.RollingFileAppender">
		<errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
		<param name="Threshold" value="INFO" />
		<param name="File" value="/Users/7x-networks/cc/var/log/matrix/matrix.log" />
		<param name="MaxFileSize" value="256MB" />  
		<param name="MaxBackupIndex" value="1" /> 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %5p %t %X{hive} %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<category name="org.springframework">
		<priority value="INFO" />
	</category>
	
	<category name="org.springframework.jdbc">
		<priority value="INFO" />
	</category>
	
	<category name="org.springframework.transaction">
		<priority value="INFO" />
	</category>
	
	<category name="org.springframework.dao">
		<priority value="INFO" />
	</category>

	<category name="org.apache.http">
		<priority value="INFO" />
	</category>
	
	<!-- ======================= -->
	<!-- Setup the Root category -->
	<!-- ======================= -->
	<root>
		<priority value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="rollingFileBySize" />
	</root>
</log4j:configuration>

